body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #000;
}
h1{
    font-size: 60px;
    padding: 10px 0;
}
a{
    color: #000;
}
.header{
    padding: 30px 30px 0 20px;
    background-color: #b1b4a9;
    margin-bottom: 50px;
}
.logo{
    width: 100px;
    height: 100px;
   
}
.menu__list{
    display: flex;
    
}
.menu__list-item{
    padding-top: 10px;
    
}
.menu__list-link{
    color: #000;
    padding: 20px 10px;
}
.container{
    display: flex;
    width: 1200px;
    padding: 20px 0;
    justify-content: space-between;
}
.menu__list-item:hover{
    text-decoration: underline;
    font-weight: 700;
    color: darkorange;
}
.title{
    width: 600px;
}
.info{
    width: 600px;
    border-color: #d9dcdb;
}
pre {
    background-color: rgb(255, 247, 229);
    border: 1px solid red;
    white-space: pre-line;
    padding-left: 20px;
  }
 .avatar{
     width: 200px;
     height: 200px;
 }
 .avatar:hover{
     width: 250px;
    
 }
 .logo-rss{
     width: 100px;
 }
 .contact__list-item:hover{
    font-weight: 900;
    color: darkblue;
 }
 .skills__list-item:before{
        content:  "✓";
        position: relative;
        left:     -5px;
    }

.course__list-item:before{
        content:  "⚹";
        position: relative;
        left:     -5px;
}
.projects-link:hover{
    font-weight: 900;
}
 .footer{
     margin-top: 15px;
     padding: 40px 0;
     display: flex;
     justify-content: space-around;
     background-color:#80933d;
 }
  .wrapper{
     margin-bottom: 0;
     padding-bottom: 0;
 }
 .main{
   display: block;
   flex-grow: 0;
   
 }
 .avatar{
     margin-left: 150px;
 }
 .git__link img{
     width: 50px;
 }
 .git-img:hover{
    transform: rotate(45deg);
 }
 .logo:hover{
     transform: rotate(360deg);
     transition: 800ms;
 }
 .copyright{
     padding-top: 10px;
     font-size: 16px;
     font-weight: 700;
 }
